<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseUrl" value="http://localhost:8888/"/>
    <add key="UserName" value=""/>
    <add key="Password" value=""/>
    <add key="DefaultDevice" value=""/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>